body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: .4em;
}

form div {
  margin: 1em;
  display: inline-block;
}


.search {
  color:red
}

.topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgrey;
  padding-bottom: 1em;
}
.product-item {
  width:  300px;
  height: 300px;
  padding: 1em;
}

.product-item-img {
  width: 100px;
  height: 100px;
}

table {
  width: 100%;
  border: 1px solid black;
}

.main {
  margin: auto;
  padding-left: 1em;
}

.stars {
  display:flex;
}